.info {
  background-color: #0c0d13;
  padding-top: 150px;
}

.info > div {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.info-item {
  width: 100%;
  height: 10.1875rem;
  border: 2.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 3.125rem;
  padding: 1.875rem;
  p{
    width: 60%;
font-weight: 500;
font-size: 1.3125rem;
line-height: 133%;
color: #fff;
  }
}

@media (max-width:615px){

.info > div {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
}






@media (max-width:533px){
    .info {
        background-color: #0c0d13;
        padding-top: 70px;
      }

    
}
@media (max-width:448px){
    .info {
        background-color: #0c0d13;
        padding-top: 70px;
      }

      .info-item {
        width: 100%;
        height: 10.1875rem;
        border: 2.5px solid rgba(255, 255, 255, 0.3);
        border-radius: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 3.125rem;
        padding: 1.875rem;
        p{
          width: 60%;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 133%;
      color: #fff;
        }
      }

      .info > div {
        display: grid;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
      
}

@media (max-width:360px){


      .info-item {
        width: 100%;
        height: 10.1875rem;
        border: 2.5px solid rgba(255, 255, 255, 0.3);
        border-radius: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 3.125rem;
        padding: 1.875rem;
        img{
            width: 50px;
            height: 50px;
        }
        p{
          width: 60%;
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 133%;
      color: #fff;
        }
      }
    
}